@font-face {
    font-family: 'charlotteregular';
    src: url('include/charlotte-webfont.woff2') format('woff2'),
         url('include/charlotte-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{   
 width: 100%;   
height: 100%;   
  
color: #444;   


}
h1{
	color:black;
	font-family: charlotteregular;
	font-size: 40px;
	position:absolute;
	top: 22.5%;
	left: 40%;
	margin-top: -130px;
	margin-left: -140px;
	z-index: 3;
	text-shadow: 5px 7px seashell; 
}
body{
	background-image: url(./images/jesson-mata-1119588-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.bckg{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	bottom: 0;
	left: 0;
	background-image: url("images/'da3abb4b.png'");
	opacity:0.4;
	
	background-repeat:repeat;
	
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -262px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 300px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  text-align: center;
	z-index: 20;
	position: fixed;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
  width: 300px;
  
}

/* The about link: 20px from the top with a green background */
#new_orders {
  
  top: 150px;
  background-color: #4CAF50;
  
  
}

#open_orders {
    
  top: 210px;
  background-color: #2196F3; /* Blue */
      
}

#closed_orders {
    
  top: 270px;
  background-color: #f44336; /* Red */
    
}

#ready_serving {
    
  top: 330px;
  background-color: #555; /* Light Black */
    
}

#serving_delivered {
    left: -30px !important;
  top: 410px;
  background-color: black;/* Light Black */
    text-align: right !important;
    
}
#personal_amount {
  top: 490px;
  background-color: brown;/* Light Black */
    
}
#logout {
	
	background-color: red;
	
}
.border{
  margin: 20px 0;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 28%;
  width:45%;
		
    }
form{
	background: rgba(138,138,138,1);
background: -moz-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138,138,138,1)), color-stop(5%, rgba(138,138,138,0.99)), color-stop(12%, rgba(135,135,135,0.98)), color-stop(30%, rgba(80,78,80,0.95)), color-stop(45%, rgba(54,54,54,0.92)), color-stop(48%, rgba(54,53,54,0.91)), color-stop(51%, rgba(46,46,46,0.91)), color-stop(60%, rgba(38,38,38,0.89)), color-stop(62%, rgba(34,34,34,0.89)), color-stop(78%, rgba(0,0,0,0.89)), color-stop(90%, rgba(0,0,0,0.89)), color-stop(96%, rgba(10,10,10,0.89)));
background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: -o-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: -ms-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: linear-gradient(to bottom, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#0a0a0a', GradientType=0 );

	padding: 15px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	
}
form .add-row{
	
    
    
    
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    padding: 15px; 
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}
form input{
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  
    }
button{
	margin-top: 15px;
	padding: 15px;
	background-color: indianred;
	border: none;
	border-radius: 15px;
	font-size: 18px;
	color:white;
	float: right;
}

#servingtable{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:18px;
  border-collapse: collapse;
  width: 100%;
  background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 38%, rgba(209,209,209,1) 53%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(38%, rgba(219,219,219,1)), color-stop(53%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 38%, rgba(209,209,209,1) 53%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 38%, rgba(209,209,209,1) 53%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 38%, rgba(209,209,209,1) 53%, rgba(254,254,254,1) 100%);
  
  margin-top: 15px;
  
}
#servingtable td{
	//background-color: white;
}
#servingtable td, #servingtable th {
  
  padding: 15px;
  
}

#servingtable tr:nth-child(even){background: rgba(194,194,194,1);
background: -moz-linear-gradient(top, rgba(194,194,194,1) 0%, rgba(186,186,186,1) 9%, rgba(179,179,179,1) 53%, rgba(217,217,217,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(194,194,194,1)), color-stop(9%, rgba(186,186,186,1)), color-stop(53%, rgba(179,179,179,1)), color-stop(100%, rgba(217,217,217,1)));
background: -webkit-linear-gradient(top, rgba(194,194,194,1) 0%, rgba(186,186,186,1) 9%, rgba(179,179,179,1) 53%, rgba(217,217,217,1) 100%);
background: -o-linear-gradient(top, rgba(194,194,194,1) 0%, rgba(186,186,186,1) 9%, rgba(179,179,179,1) 53%, rgba(217,217,217,1) 100%);
background: -ms-linear-gradient(top, rgba(194,194,194,1) 0%, rgba(186,186,186,1) 9%, rgba(179,179,179,1) 53%, rgba(217,217,217,1) 100%);
background: linear-gradient(to bottom, rgba(194,194,194,1) 0%, rgba(186,186,186,1) 9%, rgba(179,179,179,1) 53%, rgba(217,217,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#d9d9d9', GradientType=0 ); }

#servingtable tr:hover {background-color: #555;color:seashell;}

#servingtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
 background: rgba(138,138,138,1);
background: -moz-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138,138,138,1)), color-stop(5%, rgba(138,138,138,0.99)), color-stop(12%, rgba(135,135,135,0.98)), color-stop(30%, rgba(80,78,80,0.95)), color-stop(45%, rgba(54,54,54,0.92)), color-stop(48%, rgba(54,53,54,0.91)), color-stop(51%, rgba(46,46,46,0.91)), color-stop(60%, rgba(38,38,38,0.89)), color-stop(62%, rgba(34,34,34,0.89)), color-stop(78%, rgba(0,0,0,0.89)), color-stop(90%, rgba(0,0,0,0.89)), color-stop(96%, rgba(10,10,10,0.89)));
background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: -o-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: -ms-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
background: linear-gradient(to bottom, rgba(138,138,138,1) 0%, rgba(138,138,138,0.99) 5%, rgba(135,135,135,0.98) 12%, rgba(80,78,80,0.95) 30%, rgba(54,54,54,0.92) 45%, rgba(54,53,54,0.91) 48%, rgba(46,46,46,0.91) 51%, rgba(38,38,38,0.89) 60%, rgba(34,34,34,0.89) 62%, rgba(0,0,0,0.89) 78%, rgba(0,0,0,0.89) 90%, rgba(10,10,10,0.89) 96%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#0a0a0a', GradientType=0 );
  color: white;
  
  
}
.container {
  display: block;
	
  position: relative;
  margin-left: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fa {
	margin-left: 190px;
	color: seashell;
	
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 25px;
}